<div class="w-full md:w-1/2 px-2 mb-4">
  <div class="card bg-base-200 shadow-xl" style="height: 200px;" >
    <div class="card-body">
      <h2 class="card-title"><%= title %></h2>
      <p><%= subtitle %></p>

      <% if options[:msg] %>
        <p><%= options[:msg] %></p>
      <% end %>

      <div class="card-actions justify-end">
        <button class="btn btn-primary">Get Started</button>
      </div>

    </div>
  </div>
</div>