<% content_for :main_content do %>

  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-3/4 p-4">
      <h1 class="text-3xl font-bold mb-2">Dashboard</h1>
      <div class="flex flex-wrap -mx-2">
        <%= render 'shared/card', title: 'Saldo', subtitle: 'See your saldo', options: { msg: "R$ #{current_account.balance}" } %>
        <%= render 'shared/card', title: 'Extrato', subtitle: 'Faca uma transferencia', options: {} %>
      </div>
    </div>
  </div>

<% end %>

<%= render 'templates/sidebar_template' %>